@import './styles.css';

.hide {
  display: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#details {
  display: block;
  width: 50%;
  min-width: 450px;
  max-width: 500px;
  border: 3px solid var(--foreground);
  border-radius: 25px;
  padding: 4%;
  color: var(--foreground);
  text-align: center;
}

#details input {
  display: block;
  background-color: var(--foreground);
  border: 0;
  padding: 1%;
  border-radius: 15px;
  margin: auto;
  font-size: 1rem;
  width: 60%;
}

.field {
  margin-top: 4%;
}

#details button {
  width: 30%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--foreground);
  border-radius: 15px;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

#details button:hover {

  background-color: var(--color3);
  color: var(--foreground);
}

#message {
  margin-top: 3%;
}

#details input:focus {
  outline: none;
  border: none;
}

#no-account-prompt {
  font-size: .8rem;
}
