@import './styles.css';

.osu-username {
  color: var(--foreground);
  height: 5%;
  margin: 2% auto;
  width: max-content;
  text-align: center;
}

.osu-username input {
  display: block;
  border-radius: 15px;
  background: var(--foreground);
  color: var(--background);
  border: 2px solid var(--foreground);
  font-size: 1rem;
}

.osu-username button {
  display: inline;
  border: 1px solid var(--foreground);
  color: var(--background);
  background: var(--foreground);
  border-radius: 15px;
  font-size: 1rem;
  margin: 3% auto;
}

.osu-username button:hover {
  background: var(--color4);
  border-color: var(--color4);
}

.osu-username input:focus {
  outline: none;
  border: none;
  border: 2px solid var(--foreground);
}

#myTable_wrapper {
  max-width: 95%;
  min-width: 95%;
  margin: 0 auto;
}

#message {
  margin: 0 auto;
  color: var(--color3);
}

.rank-image {
  height: 2em;
}


#myTable {
  color: var(--foreground);
  border-collapse: separate;
  border-spacing: 0 1em;
  text-align: center;
}

thead {
  color: var(--foreground);
}

.table-head th {
  background: var(--background);
  border-radius: 15px;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.dt-search {
  text-align: center;
  width: max-content;
  display: inline;
  margin: 0 auto;
}

.dt-search label {
  margin: 0 auto;
  color: var(--foreground);
}

div.dt-container .dt-search input {
  background-color: var(--foreground);
  border-radius: 15px;
  margin-left: 1%;
}

.toggle-fail {
  width: max-content;
  display: inline;
  margin: auto;
}

.toggle-fail label {
  color: var(--foreground);
}

div#myTable_info.dt-info {
  color: var(--foreground);
}

.grade {
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
  margin: auto 0;
}

.fail-percent {
  padding-left: 4%;
  margin: 0;
}

.rank-image {
  margin: auto;
  width: 3em;
}

.song-name {
  text-align: unset;
}

.song-name a {
  color: var(--foreground);
  text-decoration: none;
}

tbody#scores-table tr {
  font-size: 18px;
}

thead tr.table-head {
  display: hidden;
}

table.dataTable thead {
  text-align: center;
}

div.dt-scroll-headInner {
  background-color: rgba(0, 0, 0, 0);
}

div#loader.osu-track-loader {
  margin-top: 5%;
}

div.stats {
  display: flex;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: .1rem;
  border-radius: 15px;
}

div.stats stat {
  display: inline-block;
  margin-right: 3rem;
}
