@import './styles.css';

.osu-username {
  color: var(--foreground);
  height: 5%;
  margin: 2% auto;
  width: max-content;
  text-align: center;
}

.osu-username input {
  display: block;
  border-radius: 15px;
  background: var(--foreground);
  color: var(--background);
  border: 2px solid var(--foreground);
  font-size: 1rem;
}

.osu-username button {
  display: inline;
  border: 1px solid var(--foreground);
  color: var(--background);
  background: var(--foreground);
  border-radius: 15px;
  font-size: 1rem;
  margin: 3% auto;
}

.osu-username button:hover {
  background: var(--color4);
  border-color: var(--color4);
}

.osu-username input:focus {
  outline: none;
  border: none;
  border: 2px solid var(--foreground);
}

#myTable_wrapper {
  max-width: 95%;
  min-width: 95%;
  margin: 0 auto;
}

#message {
  margin: 0 auto;
  color: var(--color3);
}

.rank-image {
  height: 2em;
}

td {
  text-align: center;
}

table {
  color: var(--foreground);
}

thead {
  color: var(--background);
}

.table-head th {
  background: var(--foreground);
  border-radius: 15px;
}

div.dt-search {
  margin: 0 auto;
  text-align: center;
}

.dt-search label {
  margin: 0 auto;
  color: var(--foreground);
}

div.dt-container .dt-search input {
  background-color: var(--foreground);
  border-radius: 15px;
  margin-left: 1%;
}

div#myTable_info.dt-info {
  color: var(--foreground);
}

.grade {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
}

.fail-percent {
  padding-left: 4%;
}

.rank-image {
  margin: auto 0;
  width: 3em;
}

.song-name {
  text-align: center;
}

.song-image {
  display: inline;
  width: 4em;
}

.song-link {
  text-decoration: none;
  width: 100%;
}

.song-link p {
  display: inline;
  margin: auto;
}
