@import './styles.css';

main {
  position: relative;
}

.hide{
  display: none;
}

.selected{
  background-color: var(--foreground);
  color: var(--background);
}

.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  left: 50%;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: 15px;
  z-index: 10;
  transform: translate(-50%, 20%);
  border: 3px solid var(--foreground);
}

#dropdown-content {
  position: absolute;
  border: 5px solid var(--background);
  border-radius: 15px;
  background-color: var(--background);
  width: 10rem;
  top: 115%;
}

#dropdown-content #planet-div {
  display: flex;
  justify-content: space-between;
}

#dropdown-content #moon-div label{
  display: block;
  margin: auto;
  width: max-content;
}

.controls .dropdown{
  display: flex;
  padding: .3em;
  margin: auto;
  width: 10rem;
}
#stop-viewing{
  border: 4px solid var(--foreground);
  border-radius: 15px;
  background-color: var(--foreground);
  color: var(--background);
}
#stop-viewing:hover{
  background-color: var(--color3);
  color: var(--foreground);
  border-color: var(--color3);
}
.arrow{
  margin: auto 0 auto auto;
  cursor: pointer; 
  width: 1.2rem;
  transition: transform 0.4s ease-in-out;
}

.dropdown p{
  height: 100%;
  text-align: center;
  margin: 0;
}
.dropdown label:hover {
  color: var(--color3);
}

.speed lable {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}
.speed {
  margin: auto;
}

#stop-viewing {
  margin:auto;
}

#speed-control {
  background: var(--foreground);
  height: .4rem;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 15px;
  display: inline;
  vertical-align: middle;
}

#speed-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%; 
  border: none;
  background: var(--color3);
  cursor: pointer;
}

#speed-control::-moz-range-thumb {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: none;
  background: var(--color3);
  cursor: pointer;
}

#solarsystem-canvas {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
